beautifulsoup4==4.13.5
chromadb
fastapi==0.116.1
fastembed==0.7.4
langchain==0.3.27
langchain-chroma==0.2.5
langchain-community==0.3.27
langchain-ollama==0.3.7
msal==1.31.0
openpyxl==3.1.5
pydantic-settings==2.10.1
pypdf==5.9.0
python-docx==1.1.2
python-dotenv==1.1.1
requests==2.32.5
uvicorn[standard]==0.35.0
